In [1]:
import pandas as pd
import numpy as np

In [2]:
rf = pd.read_csv("../data/submissions/rf_probas.csv")
xgb = pd.read_csv("../data/submissions/xgb_probas.csv")
lgb = pd.read_csv("../data/submissions/lgbm_probas.csv")

In [3]:
for df in [rf, xgb, lgb]:
    df.set_index("Id", inplace=True)

In [4]:
ensemble = (rf + xgb + lgb) / 3

In [5]:
ensemble

,0,1,2,3,4,5,6,7
Id,,,,,,,,
0,0.006884,0.715933,0.004375,0.257483,0.003831,0.003818,0.003745,0.003933
1,0.546436,0.408057,0.016790,0.004902,0.005587,0.004497,0.004336,0.009396
2,0.004520,0.356888,0.003789,0.620582,0.003624,0.003570,0.003481,0.003546
3,0.031019,0.355256,0.582697,0.005124,0.005263,0.004635,0.004492,0.011514
4,0.710650,0.262592,0.007806,0.003796,0.003845,0.003884,0.003601,0.003824
...,...,...,...,...,...,...,...,...
34360,0.017006,0.407442,0.021251,0.004632,0.004604,0.005194,0.004283,0.535587
34361,0.012897,0.359048,0.604810,0.004597,0.004294,0.004010,0.003973,0.006371
34362,0.008490,0.509188,0.004576,0.459936,0.004287,0.004144,0.004031,0.005349
34363,0.532048,0.434547,0.009974,0.005680,0.004225,0.004307,0.004089,0.005130
34364,0.046698,0.391564,0.527706,0.006224,0.012200,0.004461,0.004402,0.006744

In [9]:
submission = pd.DataFrame()
submission["Id"] = range(len(rf))

In [10]:
submission["label"] = ensemble.values.argmax(axis=1)

In [11]:
submission

          Id  label
0          0      1
1          1      0
2          2      3
3          3      2
4          4      0
...      ...    ...
34360  34360      7
34361  34361      2
34362  34362      1
34363  34363      0
34364  34364      2

[34365 rows x 2 columns]

In [29]:
submission.label.value_counts()

1    10825
0     8565
3     5826
2     5076
7     3658
4      237
6      100
5       78
Name: label, dtype: int64

In [30]:
submission.to_csv("../data/submissions/ensemble.csv", index=False)